
.box{
    width: rem(100px);
    height: rem(100px);
    background: #ccc;
    .box1{
        background: #f59130;
        font-size: rem(12px);
        width: rem(20px);
        height: rem(20px);
    }